@tailwind base;
@tailwind components;
@tailwind utilities;
.line{
    transition:width 1s ease-in-out;
}
@media screen and (max-width: 800px)
{
    .gameContainer{
        flex-wrap:wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
}